@{
    ViewData["title"] = "Dojo Survey Index";
}
<h1><b>Submitted Info</b></h1>
<fieldset>
    Name: @Model.Name <br></br>
    Language: @Model.Languages <br></br>
    Location: @Model.Locations <br></br>
    Comment: @Model.Comments <br></br>
</fieldset> 
<button button-primary>
    <a href="/">Go Back</a>
</button>